.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-main);
}

.calculator-wrapper {
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    height: 66.7rem;
    padding: 2rem;

    @media screen and (min-width: 820px) {
       width: 60rem;
       height: 80rem;
    }
}
