.input {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.2rem;    
    grid-row-gap: 1.2rem;
    width: 100%;
    height: calc(75% - 5rem);
    padding: 2.5rem;
    background-color: var(--bg-keypad);
    border-radius: 1rem;

    @media screen and (min-width: 820px) {
        grid-column-gap: 2.3rem;    
        grid-row-gap: 2.7rem;
        padding: 3rem; 
    }
}